<div class="container">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">NG MYSQL CRUD</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse ml-auto" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link d-flex " aria-current="page" routerLink="/games" routerLinkActive="active">
            <i class="fas fa-gamepad"></i> Games</a>
        </li>
        <li class="nav-item d-flex">
          <a class="nav-link d-flex" routerLink="/games/add" routerLinkActive="active"><i
              class="fas fa-plus-circle"></i> Add
            game</a>
        </li>
      </ul>
    </div>
  </nav>
</div>